* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

body, input, select {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    background: #FFF;
}

p, ul, ol, th, td {
    line-height: 22px;
}

h2, h3, p, ul, ol {
    margin: 12px 16px;
}
table {
    margin: 12px 0;
}
h1 {
    margin: 8px;
    font-size: 28px;
}
h2 {
    margin-top: 18px;
    font-size: 20px;
}
h3 {
    margin-top: 18px;
    font-size: 16px;
}

ul, ol {
    margin-left: 48px;
}
ul ul, ul ol, ol ul, ol ol {
    margin-left: 32px;
}
li > ul {
    margin-top: 0;
    margin-bottom: 0;
}
.stickToPrevious {
    margin-top: -12px;
}
.stickToNext {
    margin-bottom: -12px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
th, td {
    padding: 2px 4px;
}
th {
    background: #EEE;
}
tr:hover {
    background: #F9F9F9;
}

a {
    text-decoration: none;
    color: #369;
}
a:hover {
    text-decoration: underline;
}

input {
    border: 1px solid #CCC;
    border-radius: 3px;
}
option, input[type=text] {
    padding: 2px 4px;
}
input[type=text] {
    width: 100px;
}
input[type=radio] {
    vertical-align: -3px;
}
input[type=submit] {
    min-width: 100px;
    padding: 2px 20px;
    border: 1px solid #CCC;
    background: #EEE;
}
select {
    min-width: 420px;
    border: 1px solid #CCC;
    border-radius: 3px;
}
textarea {
    width: 100%;
    max-width: 600px;
    border: 1px solid #CCC;
}
form img {
    vertical-align: middle;
}

#header {
    padding: 4px 8px;
    background: #369;
    color: #FFF;
}
#header img {
    vertical-align: -5px;
    height: 32px;
    width: 32px;
}
#header a {
    color: #FFF;
    text-decoration: none;
    outline: 0;
}
#header a:hover img {
    transform: rotate(180deg);
}

#menu {
    overflow: auto;
    margin-top: -4px;
    font-size: 16px;
    background: #369;
    color: #FFF;
}
#menu ul {
    margin: 0;
}
#menu li {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
    font-weight: bold;
}
#menu a {
    display: block;
    width: 140px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    background: #369;
    color: #FFF;
}
#menu a:hover {
    background: #FFF;
    color: #369;
}

#content {
    clear: both;
    margin: 16px 0;
}

#message {
    margin: 16px;
    padding: 8px 16px;
    border: 1px dotted red;
    background: #FEE;
}

#footer {
    background: #369;
    color: #FFF;
}
#footer p {
    margin: 0;
    padding: 4px 16px;
}
#footer a {
    font-weight: bold;
    color: #FFF;
}
#footer img {
    vertical-align: middle;
    height: 32px;
    width: 32px;
}

.language {
    vertical-align: middle;
    font-family: monospace;
}

label {
    display: inline-block;
    width: 180px;
    padding: 4px;
    font-weight: bold;
    text-align: right;
}
label.rightLabel {
    width: auto;
    font-weight: normal;
    text-align: left;
}

table {
    width: 100%;
}

tr:hover th.row, tr:hover td {
    background: #F9F9F9;
}

td {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
}
th {
    width: 80px;
    padding: 2px 10px;
    background: #EEE;
}
th.title {
    width: 180px;
}
th.data {
    text-align: right;
}
th.gap {
    width: auto;
    padding: 0;
}
th.row {
    width: 150px;
    max-width: 150px;
    padding: 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: normal;
    background: #FFF;
    color: #000;
}
th.selected a {
    text-decoration: underline;
}

td.data {
    text-align: right;
}
td.gap {
    text-align: center;
}

div.female, div.male {
    height: 22px;
}

div.female {
    float: left;
    background: orange;
}
div.male {
    float: right;
    background: green;
}

div.evolution_graph {
    max-width: 900px;
    width: 900px;
    float: left;
}
.clear {
    clear: both;
}
p.legend {
    font-style: italic;
}

img.logo {
    max-height: 18px;
    max-width: 18px;
    vertical-align: text-bottom;
}
